#devise-registrations-edit-view
  devise-registrations-edit-view(:errors="#{resource.errors.full_messages}" :action="'#{registration_path(resource_name)}'")

= javascript_pack_tag 'devise/registrations/edit'
= stylesheet_pack_tag 'devise/registrations/edit'

