#devise-unlocks-new-view
  devise-unlocks-new-view(:errors="#{resource.errors.full_messages}" :action="'#{unlock_path(resource_name)}'")

= javascript_pack_tag 'devise/unlocks/new'
= stylesheet_pack_tag 'devise/unlocks/new'
