#devise-passwords-new-view
  devise-passwords-new-view(:errors="#{resource.errors.full_messages}" :action="'#{password_path(resource_name)}'")

= javascript_pack_tag 'devise/passwords/new'
= stylesheet_pack_tag 'devise/passwords/new'


