#pages-index-view
  pages-index-view(
    :sign_in="'#{new_user_session_path}'"
    :sign_up="'#{new_user_registration_path}'"
    :sign_out="'#{destroy_user_session_path}'"
    :edit="'#{edit_user_registration_path}'"
    :logged_in="#{user_signed_in?}"
    )

= javascript_pack_tag 'pages/index'
= stylesheet_pack_tag 'pages/index'
